In [2]:
#Import Dependencies and requirements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
  
Loan_approval_df = pd.read_csv("ETL_Completed_LoanApprovalPrediction.csv")

In [3]:
#Check Dataframe has been loaded
Loan_approval_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,Rural,0
1,LP001005,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,Urban,1
2,LP001006,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,Urban,1
3,LP001008,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,Urban,1
4,LP001011,1,1,2.0,1,1,5417,4196.0,267.0,360.0,1.0,Urban,1

In [4]:
#Get the number of columns of object datatype
obj = (Loan_approval_df.dtypes == 'object')
print("Categorical variables:",len(list(obj[obj].index)))

Categorical variables: 2

In [5]:
# Dropping Loan_ID column
Loan_approval_df.drop(['Loan_ID'],axis=1,inplace=True)

In [6]:
#Check Dataframe has been loaded
Loan_approval_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,Rural,0
1,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,Urban,1
2,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,Urban,1
3,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,Urban,1
4,1,1,2.0,1,1,5417,4196.0,267.0,360.0,1.0,Urban,1
...,...,...,...,...,...,...,...,...,...,...,...,...
500,0,0,0.0,1,0,2900,0.0,71.0,360.0,1.0,Rural,1
501,1,1,3.0,1,0,4106,0.0,40.0,180.0,1.0,Rural,1
502,1,1,1.0,1,0,8072,240.0,253.0,360.0,1.0,Urban,1
503,1,1,2.0,1,0,7583,0.0,187.0,360.0,1.0,Urban,1
504,0,0,0.0,1,1,4583,0.0,133.0,360.0,0.0,Semiurban,0

In [7]:
from sklearn.model_selection import train_test_split
  
X = Loan_approval_df.drop(['Loan_Status'],axis=1)
Y = Loan_approval_df['Loan_Status']
X.shape,Y.shape
  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    test_size=0.4,
                                                    random_state=1)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((303, 11), (202, 11), (303,), (202,))

In [9]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, Y_train)

ValueError: could not convert string to float: 'Semiurban'