In [5]:
#Import Dependencies and requirements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
  
Loan_approval_df = pd.read_csv("ETL_Completed_LoanApprovalPrediction.csv")

In [6]:
#Check Dataframe has been loaded
Loan_approval_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,Rural,0
1,LP001005,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,Urban,1
2,LP001006,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,Urban,1
3,LP001008,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,Urban,1
4,LP001011,1,1,2.0,1,1,5417,4196.0,267.0,360.0,1.0,Urban,1

In [8]:
#Get the number of columns of object datatype
obj = (Loan_approval_df.dtypes == 'object')
print("Categorical variables:",len(list(obj[obj].index)))

Categorical variables: 2

In [9]:
# Dropping Loan_ID column
Loan_approval_df.drop(['Loan_ID'],axis=1,inplace=True)