In [1]:
#  Import and read the charity_data.csv.
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
from flask import Flask, request, render_template, jsonify
from sqlalchemy.orm import Session 
data = pd.read_csv('../Project_4_Group-1_MortgageAppraisalPredictivePowers/Datasets/LoanApprovalPrediction.csv')

engine= create_engine('sqlite:///Loan.db')

data.to_sql('Loans',engine,index=False,if_exists= 'replace')

session = Session(engine)
# Loan_df = pd.read_csv("../Project_4_Group-1_MortgageAppraisalPredictivePowers/Datasets/LoanApprovalPrediction.csv")
# Loan_df.head()

In [4]:

# Step 2: Extract data from the CSV file
Loan_df = pd.read_csv('Datasets/LoanApprovalPrediction.csv')

# Step Cleaning CSV: Perform the same transformations as before

#Drop Nan values
Loan_df = Loan_df.dropna()

mapping_gender = {'Male': 1, 'Female': 0}
Loan_df['Gender'] = Loan_df['Gender'].map(mapping_gender)

mapping_loan_status = {'Y': 1, 'N': 0}
Loan_df['Loan_Status'] = Loan_df['Loan_Status'].map(mapping_loan_status)

mapping_married = {'Yes': 1, 'No': 0}
Loan_df['Married'] = Loan_df['Married'].map(mapping_married)

mapping_self_employed = {'Yes': 1, 'No': 0}
Loan_df['Self_Employed'] = Loan_df['Self_Employed'].map(mapping_self_employed)

mapping_education = {'Graduate': 1, 'Not Graduate': 0}
Loan_df['Education'] = Loan_df['Education'].map(mapping_education)

mapping_property_area = {'Urban': 2, 'Semiurban': 1, 'Rural': 0}
Loan_df['Property_Area'] = Loan_df['Property_Area'].map(mapping_property_area)

# Drop the 'Loan_ID' column
Loan_df.drop(['Loan_ID'], axis=1, inplace=True)

In [5]:
# Step 4: Load the transformed data into the SQLite database
Loan_df.to_sql('loan_data', engine, if_exists='replace', index=False)

505

In [8]:
# Step 5: Run queries directly from the SQLite database
# For example, let's select all rows from the 'loan_data' table
query = "SELECT * FROM loan_data;"
result_df = pd.read_sql(query, engine)

In [10]:
# Step 6: Convert the query result back to a CSV file
output_file_path = '../Project_4_Group-1_MortgageAppraisalPredictivePowers/Datasets/ETL_Completed_LoanApprovalPrediction.csv'

In [11]:
# Step 7: Close the SQLite engine
engine.dispose()

print(f"ETL process completed. Data exported to '{output_file_path}' as a CSV file.")

ETL process completed. Data exported to '../Project_4_Group-1_MortgageAppraisalPredictivePowers/Datasets/ETL_Completed_LoanApprovalPrediction.csv' as a CSV file.

In [12]:
# Step 6: Display the new dataset in the notebook
result_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,0,0
1,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,2,1
2,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
3,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,2,1
4,1,1,2.0,1,1,5417,4196.0,267.0,360.0,1.0,2,1