In [1]:
#Import Dependencies and requirements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
  
Loan_approval_df = pd.read_csv("../Datasets/ETL_Completed_LoanApprovalPrediction.csv")

In [2]:
#Check Dataframe has been loaded
Loan_approval_df['JointIncome'] = Loan_approval_df['ApplicantIncome'] + Loan_approval_df['CoapplicantIncome']
Loan_approval_df.drop(['ApplicantIncome', 'CoapplicantIncome'],axis=1,inplace=True)
Loan_approval_df.head()

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,JointIncome
0,1,1,1.0,1,0,128.0,360.0,1.0,0,0,6091.0
1,1,1,0.0,1,1,66.0,360.0,1.0,2,1,3000.0
2,1,1,0.0,0,0,120.0,360.0,1.0,2,1,4941.0
3,1,0,0.0,1,0,141.0,360.0,1.0,2,1,6000.0
4,1,1,2.0,1,1,267.0,360.0,1.0,2,1,9613.0

In [3]:
#Get the number of columns of object datatype
obj = (Loan_approval_df.dtypes == 'object')
print("Categorical variables:",len(list(obj[obj].index)))

Categorical variables: 0

In [4]:
#Check Dataframe has been loaded
Loan_approval_df

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,JointIncome
0,1,1,1.0,1,0,128.0,360.0,1.0,0,0,6091.0
1,1,1,0.0,1,1,66.0,360.0,1.0,2,1,3000.0
2,1,1,0.0,0,0,120.0,360.0,1.0,2,1,4941.0
3,1,0,0.0,1,0,141.0,360.0,1.0,2,1,6000.0
4,1,1,2.0,1,1,267.0,360.0,1.0,2,1,9613.0
...,...,...,...,...,...,...,...,...,...,...,...
500,0,0,0.0,1,0,71.0,360.0,1.0,0,1,2900.0
501,1,1,3.0,1,0,40.0,180.0,1.0,0,1,4106.0
502,1,1,1.0,1,0,253.0,360.0,1.0,2,1,8312.0
503,1,1,2.0,1,0,187.0,360.0,1.0,2,1,7583.0
504,0,0,0.0,1,1,133.0,360.0,0.0,1,0,4583.0

In [5]:
from sklearn.model_selection import train_test_split
  
X = Loan_approval_df.drop(['Loan_Status'],axis=1)
Y = Loan_approval_df['Loan_Status']
X.shape,Y.shape
  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    test_size=0.4,
                                                    random_state=1)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((303, 10), (202, 10), (303,), (202,))

In [6]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
classifier.fit(X_train, Y_train)

c:\Users\Henry\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [7]:
# Make a prediction using the testing data
# Create predictions
y_pred = classifier.predict(X_test)

# Review the predictions
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1], dtype=int64)

In [8]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix(y_pred,Y_test)

array([[ 27,   4],
       [ 39, 132]], dtype=int64)

In [9]:
# Print the classification report for the model
print(classification_report(y_pred,Y_test))

              precision    recall  f1-score   support

           0       0.41      0.87      0.56        31
           1       0.97      0.77      0.86       171

    accuracy                           0.79       202
   macro avg       0.69      0.82      0.71       202
weighted avg       0.88      0.79      0.81       202